@model VehicleServiceBook.ViewModels.ProducerDetailsViewModel
@{
    ViewData["Title"] = "NewDetails";
    Layout = null;
    var title = "Szczegóły producenta";
}

@Html.HiddenFor(m => m.Producer.Id)

<hr />
<div class="row p-3">
    <div class="col-12 border-bottom">
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="form-group row">
            <dl class="row" style="text-align: left;">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Producer.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Producer.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Producer.Address)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Producer.Address)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="text-center">
            <a asp-controller="producer" asp-action="index"
               class="btn btn-primary">Powrót do listy</a>
        </div>
    </div>
</div>


